{% extends 'base.html' %}
{% block self_head_css_js %}
<link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
<link href="/static/css/plugins/chosen/chosen.css" src="js/jquery-2.1.1.js" rel="stylesheet">
<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/jquery-tags-input/jquery.tagsinput.css" />

{% endblock %}

{% block content %}
<div class="page-heading">
    <h3>
	    修改资产信息
    </h3>
	<ul class="breadcrumb">
		<li>
			<a href="#">首页</a>
	    </li>
		<li>
			<a href="#">资产管理</a>
		</li>
		<li class="active">修改资产信息</li>
	</ul>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title">
					修改信息
				</h4>
			</div>
			<div class="panel-body">
				<form  method="post"  id="taskForm" class="form-horizontal adminex-form">
				{% csrf_token %}
					<div class="form-group has-success">
						{% if error %}
						<div class="alert alert-warning fade in">
							<button type="button" class="close close-sm" data-dismiss="alert">
								<i class="fa fa-times"></i>
							</button>
							<strong>Warning!</strong> {{error}}
						</div>
						{% endif %}
						<label class="col-lg-2 control-label">name</label>
						<div class="col-lg-8">
							<input type="text" name="name" placeholder="" id="name" disabled='disabled' class="form-control" value={{group.name}}>
						</div>	
					</div>
					<div class="form-group has-success">
						<label class="col-lg-2 control-label">维护规则</label>
						<div class="col-lg-8">
							<input type="text" name="segment" placeholder="" id="tags_3" class="tags form-control" value={{group.segment}}>
						</div>
					</div>
					<div class="form-group">
						<label for="department" class="col-sm-2 control-label">部门</label>
						<div class="col-lg-8">
							<input type="text" name="department" placeholder="" id="department" disabled='disabled' class="form-control" value={{group.department}}>
						</div>
					</div>
					<div class="form-group">
						<label for="env" class="col-sm-2 control-label">环境</label>
							<div class="col-lg-8">
								<input type="text" name="env" placeholder="" id="env" disabled='disabled' class="form-control" value={{group.env}}>
							</div>
					</div>
					<div class="form-group has-success">
						<label class="col-lg-2 control-label">管理员</label>
						<div class="col-lg-8">
							<input type="text" name="manager" placeholder="" id="tags_1" class="tags form-control" value={% for item in group.manager.all %}{{item}},{% endfor %}>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button class="btn btn-primary" type="submit">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>



	</div>
</div>
{% endblock %}
{% block self_footer_js %}
<script>
$('#taskForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_asset: function(){
            return $('#assets').val() == null
        },
        check_group: function(){
            return $('#groups').val() == null
        }
    },
    fields: {
        "segment": {
            rule: "required",
            tip: "填写维护规则，网段或IP",
            msg: {required: "维护规则必填，网段或IP"}
        },
        "manager": {
            rule: "required",
            tip: "填写管理员",
            msg: {required: "管理员必填"}
        },

    },
    valid: function(form) {
            form.submit();
        }
});


var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
};

for (var selector in config) {
        $(selector).chosen(config[selector]);
}

</script>
<script src="/static/js/cropper/cropper.min.js"></script>
<script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery-tags-input/jquery.tagsinput.js"></script>
<script src="/static/js/tagsinput-init.js"></script>

{% endblock %}
